
#page-wrap							{ width: 100%; } 
ul.dropdown.a						{ text-decoration: none; }

/* 
	LEVEL ONE
*/
ul.dropdown                         { display: table; width: 100%; padding: 0; position: relative; margin: 0; z-index: 100; color: rgb(242, 227, 188); }
ul.dropdown li                      { font-size: 22px; font-weight: normal; color: white; display: table-cell; border-right: 1px solid rgb(206, 177, 136); zoom: 1; font-family: sans-serif; text-shadow: 3px 3px rgb(69, 66, 63); }
ul.dropdown a:hover		            { color: rgb(242, 227, 188); }
ul.dropdown a:active                { color: white; }
ul.dropdown li a                    { display: block; color: white; text-align: center; text-decoration: none; padding: 4px 8px; }
ul.dropdown li:last-child           { border-right: none; } /* Doesn't work in IE */
ul.dropdown li.hover,
ul.dropdown li:hover                { position: relative; color: rgb(242, 227, 188); }
ul.dropdown li.hover a              { color: rgb(242, 227, 188); }

/* 
	LEVEL TWO
*/
ul.dropdown ul 						{ width: 220px; visibility: hidden; position: absolute; top: 100%; left: 0; z-index: 100; background: rgb(96, 87, 82); }
ul.dropdown ul li 					{ display: block; list-style: none; font-weight: normal; z-index: 100; color: white; }
									  
                                    /* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a					{ border-right: none; width: 100%; display: inline-block;  text-decoration: none; z-index: 100; text-align: left; } 
ul.dropdown ul li a:hover           { color: white; } 

/* 
	LEVEL THREE
*/
ul.dropdown ul ul 					{ left: 100%; top: 0; padding: 0; }
ul.dropdown li:hover > ul 			{ visibility: visible; }