/*
 * MSC Style - Created 1/19/2012 Phil Hartley
 */
 
h1 {
	font-family: "Book Antiqua", "Palatino Linotype", Palatino, serif;
	font-size: 24px;
}

h2 {
	font-family: arial, helvetica, sans-serif;
	font-size: 20px;
}

h3 {
	font-family: arial, helvetica, sans-serif;
	font-size: 16px;
}

h3 {
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
}

p {
    color: rgb(242, 227, 188);
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
}

a {
	text-decoration: none;
	color: rgb(13, 92, 133);
}

body {
	background-color: rgb(96, 87, 82);
}

.highlight1 {
	color: red;
	font-weight: bold;
}

.highlight2 {
	color: black;
	font-weight: bold;
}

#page {
  background: transparent;
}

.bigp {
	font-size: 20px;
}

.headerBlue {
    background-color: rgb(10, 74, 106);
}

.bodyBlue {
    background-color: rgb(13, 92, 133);
}

.headerGreen {
    background-color: rgb(118, 126, 64);
}

.bodyGreen {
    background-color: rgb(148, 158, 80);
}

.headerYellow {
    background-color: rgb(149, 111, 0);
}

.bodyYellow {
    background-color: rgb(186, 139, 0);
}

.bodyLightYellow {
    background-color: rgb(255, 242, 212);
}

.textBuff {
    color: rgb(242, 227, 188);
}

.redEventText {
    color: rgb(139, 14, 4);
}

.grayEventText {
    color: rgb(84, 83, 74);
}

.eventPhoto {
	width: 200px;
	height: 200px;
	float: left;
	background-size: cover;
	margin-top: 30px;
}

.eventBody {
    float: right;
    width: 600px;
}

.individualEventBody {
    float: right;
    width: 80%;
}

.newsItemBody {
    float: right;
    width: 900px;
}

.scmsPhotoContainer {
	float: right;
	margin: 10px;
	width: 370px;
}

.scmsPeoplePhotoContainer {
    float: right;
    margin: 10px;
    width: 650px;
}

.scmsPhoto {
	display: inline-block;
}

.scmsPhotoList {
	list-style-type: none;
}

.scmsHtmlContainer {
}

.scmsHtmlContainer p {
    color: rgb(84, 83, 74);
    font-size: 18px;
}

.scmsHtmlContainer h1 {
    color: rgb(139, 14, 4);
    font-size: 28px;
}

.scmsHtmlContainer h2 {
    color: rgb(84, 83, 74);
    font-size: 24px;
}

.scmsHtmlContainer h3 {
    color: rgb(84, 83, 74);
    font-size: 20px;
}

.scmsHtmlContainer ul {
    color: rgb(84, 83, 74);
    font-size: 18px;
    font-family: arial, helvetica, sans-serif;
}

.scmsHtmlContainer ol {
    color: rgb(84, 83, 74);
    font-size: 18px;
    font-family: arial, helvetica, sans-serif;
}

.scmsCaption p {
	color: rgb(84, 83, 74);
	font-style: italic;
}

.scmsGalleryCaption {
    color: rgb(84, 83, 74)!important;
    font-style: italic;
    width: 100%!important;
    font-family: arial, helvetica, sans-serif;
}

.scmsGalleryContainer {
	clear: both;
}

.scmsGalleryPhotoWidget {
	width: 170px!important;
	text-align: center;
	float: left;
}

.scmsGalleryTitle {
	margin-left: 100px;
}

::-webkit-input-placeholder  { color: rgb(153, 143, 134); }
input:-moz-placeholder { color: rgb(153, 143, 134); }

.email {
	background-color: rgb(213, 202, 192);
	border: none;
	height: 24px;
	float: left;
	margin-top: 2px;
	margin-right: 10px;
    -webkit-box-shadow: inset 0 0 10px rgb(153, 143, 134);
    -moz-box-shadow: inset 0 0 10px rgb(153, 143, 134);
    box-shadow: inset 0 0 10px rgb(153, 143, 134);     
}

.buttonDropShadow {
	-webkit-box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.6);
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.6);  	
}

.subscribeButton {
	border: none;
	-webkit-box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.6);
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.6);     
}

.searchForm {
	width: 191px;
}

.searchInput {
    background-color: rgb(213, 202, 192);
    border: none;
    height: 16px;
    float: left;
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 5px;
    -webkit-box-shadow: inset 0 0 10px rgb(153, 143, 134);
    -moz-box-shadow: inset 0 0 10px rgb(153, 143, 134);
    box-shadow: inset 0 0 10px rgb(153, 143, 134);
    font-size: 12px;   
    width: 120px;  
}

.searchButton {
	border: none;
	display: inline;
}

.searchBar {
	background-image: url('../images/layout/img_search-box-background-153x24.png');
	background-repeat:no-repeat;
	display: inline-block;
}

.marginRight {
    margin-right: 26px;
}

.padded {
    padding: 10px;
    margin-bottom: 10px;
}

.pageHeader {
    height: 220px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	background-image: url("../images/layout/img_main-background-960x194.png");
	background-repeat:no-repeat;
    background-position:left top;
}

.headerIcons {
	float: right;
	margin-top: 5px;
	margin-right: 44px;
}

.topMenu {
	float: right;
	clear: right;
	margin-top: 120px;
}

.topMenu ul {
	list-style: none;
	font-family: Arial;
	font-size: 16px;
	font-weight: 600;
}

.topMenu ul a {
	color: #FFFFFF;
	text-decoration: none;
}

.topMenuListItem {
	width: 150px;
	float: left;
	text-align: center;
}

.logo {
	margin-top: 80px;
	margin-left: 20px; 
	float: left;    
}

.bottomMenu {
	margin-left: auto;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 40px;
	clear: both;
}

.bottomMenu ul {
	list-style: none;
	font-family: Arial;
	font-size: 12px;
	font-weight: 600;
	text-align: center;
}

.bottomMenu ul a {
	color: rgb(153, 143, 134);
	text-decoration: none;
}

.bottomMenuListItem {
	padding-left: 20px;
	padding-right: 20px;
	display: inline;
}

.galleria-thumbnails {
	float: right;
}

.galleria-thumbnails .galleria-image {
    height: 20px;
    width: 30px;
    margin: 1px;
    border: 1px solid rgb(242, 227, 188);
    background-color: rgba(13, 92, 133, 0.2);
    float: left;
    cursor: pointer;
    margin-top: 20px;
}

.mscGallery {
	width: 100%;
	display: table;
}

.blockHeader {
	list-style: none;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 30px;
	font-weight: 100;
	color: rgb(242, 227, 188);
	border-style: none;
	width: 370px;
	height: 50px;
	padding-top: 1px;
	padding-bottom: 5px;
	margin-top: 20px;
    padding-left: 10px;
    padding-right: -10px;
}

.blockFooter {
	height: 24px;
	color: rgb(242, 227, 188)!important;
    font-size: 18px;
    font-weight: 200;
    margin: 0;
    padding: 0px;
    text-align: center;
    display: inline-table;
    vertical-align: middle;
    width: 380px;
}

.blockFooter a {
    color: rgb(242, 227, 188)!important;
}

.homePageItem {
	width: 380px;
	float: left;
	border-style: none;
}

.homePageItems {
	background-image: url("../images/layout/img_events-background-960x130.png");
    background-repeat:no-repeat;
    background-position:left top;	
    height: 100px;
}

.homePageItem h2 {
	clear: left;
	margin: 0px;
}

.homePageSubItem {
	padding: 10px;
    min-height: 450px;
}

.withHeight {
	min-height: 450px;
}

.imageContainer {
	min-height: 150px;
	padding-left: 120px;
}

.relativeContainer {
	position: relative;
	clear: both;
	margin: 0;
	overflow: hidden;
}

.imageLeft {
    position: relative;
}

.imageDonate {
    float: left;
    margin-left: -110px;
    margin-top: 20px;
    width: 105px;
    height: 104px;
    background-size: cover;
}

.innerGlow {
	background-repeat: no-repeat;
	-webkit-box-shadow: inset 0px 0px 10px 3px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: inset 0px 0px 10px 3px rgba(0, 0, 0, 0.9);
    box-shadow: inset 0px 0px 10px 3px rgba(0, 0, 0, 0.9);
}

.imageText {
	font-family: Arial;
	font-size: 20px;
	padding: 5px;
}

.calendarIcon {
	float: left;
    margin-left: -25px;
    margin-top: 20px;
}

.eventShort {
	float: right;
	width: 320px;
}

.outerEvent {
	padding-left: 25px;
	overflow: hidden;
}

.imageText h2 {
	color: white;
	font-weight: normal;
}

.homePageSubItem h2 {
	color: white;
    font-weight: normal;
}

.imageButton {
	padding: 10px;
}

.container {
	width: 1194px;
	margin: auto;
}

.date {
	font-family: arial, helvetica, sans-serif;
	font-size: 14px;
}

.menu {
	margin-bottom: 20px;
	width: 100%;
	z-index: 100;
}

.menuContainer {
	background-image: url('../images/layout/img_menu-background-1192x71.png');
	height: 31px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.eventOrNews {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
}

.gallery {
	clear: both;
	z-index: -100;
}

.eventSelection {
	width: 290px;
	float: left;
	background-color: rgb(196, 150, 12);
	margin: 0;
	height: 100%;
	position: relative;
}

.trailheadContainer {
	float: right;
	width: 900px;
	padding-left: 4px;
	height: 687px;
	background-color: rgb(255, 242, 212);
    margin: 0;
}

.generalContainer {
    width: 1154px;
    padding: 20px;
    overflow: hidden;
    background-color: rgb(255, 242, 212);
    margin: 0;
}

.contentContainer {
    width: 76.6%;
    padding: 20px;
    overflow: hidden;
    background-color: rgb(255, 242, 212);
    margin: 0;
    float: right;
}

.eventContainer {
    float: right;
    width: 900px;
    padding-left: 4px;
    height: 100%;
    background-color: rgb(255, 242, 212);
    margin: 0;
}

.newsContainer {
    width: 100%;
    padding-left: 4px;
    background-color: rgb(148, 158, 80);
    margin: 0;
}

.newsItemContainer {
    width: 1154px;
    padding: 20px;
    overflow: hidden;
    margin: 0;
    background-color: rgb(148, 158, 80);
}

.mscPanel {
	float: right;
	width: 72%;
	padding-left: 4px;
}

.mscPanel ul {
	padding-left: 24px;
}

#calendar {
	padding: 10px;
}

#innerCalendar {
	border: inset;
	border-width: 4px;
	border-color: rgba(216, 169, 30, 0.2);
    background-color: #F0F0F0;
}

#calendarTable {
	text-align: center;
	font-size: 16px;
}

#calendarTable tbody tr th, #calendarTable tbody tr td {
	width: 39px;
	border: 1px;
	border-color: #E8E8E8;
	border-style: solid;
	margin: 2px;
}

.calendarHeader {
}

.calendarRow {
}

.calendarMonthSelection {
	font-weight: bold;
	font-size: 16px;
	padding: 4px;
	padding-left: 10px;
	border: 1px;
	border-color: #E8E8E8;
	border-style: solid;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 2px;
	width: 245px;
}

.calendarMonthYear {
	text-align: center;
	width: 80%;
}

.calendarLeftArrow {
	float: left;
	width: 10%;
	display: inline;
}

.calendarRightArrow {
	float: right;
	width: 10%;
	display: inline;
}

.previousMonth {
	color: gray;
}

.previousMonthHasEvents {
	color: gray;
	text-decoration: underline;
}

.currentMonth {
	color: rgb(13, 92, 133);
	font-weight: bold;
}

.currentMonthHasEvents {
	color: rgb(13, 92, 133);
	font-weight: bold;
	text-decoration: underline;
}

.nextMonth {
	color: gray;
}

.nextMonthHasEvents {
	color: gray;
	text-decoration: underline;
}

.actionButton {
	margin-left: auto;
	margin-right: auto;
	padding:4px;
	width: auto;
	display: table;
}

.sidebarNavigation {
	background-color: rgb(148, 158, 80);
	height: 100%;
	width: 20%;
	float: left;
	position: absolute;
}

.sidebarNavigationNarrow {
	width: 290px;
	float: left;
	height: 687px;
}

.sidebarHeading {
	color: rgb(242, 227, 188);
	font-size: 24px;
	padding: 15px;
	font-family: arial, helvetica, sans-serif;
	font-weight: normal;
	text-align: right;
}

.sidebarLink {
	font-size: 20px;
	color: rgb(242, 227, 188);
	padding: 16px;
    text-align: right;
    font-family: arial, helvetica, sans-serif;
}

.sidebarLink a {
    font-size: 20px;
    color: rgb(242, 227, 188);
}

.sidebarLink:hover {
	background-color: rgb(118, 124, 64);
}

.sidebarLinkInner {
    font-size: 20px;
    color: rgb(55, 53, 52);
    width: 80px;
}


.sidebarLink a {
	text-decoration: none;
}

.sidebarLinkCurrent {
    font-size: 20px;
    color: rgb(242, 227, 188);
    background-color: rgb(118, 124, 64);
    text-align: right;
    padding: 16px;
    font-family: arial, helvetica, sans-serif;
}

.sidebarLinkCurrent p {
    font-size: 20px;
    color: rgb(242, 227, 188);
    margin: 0;
    padding: 0;
}

.trailheadMap {
	width: 400px;
	height: 500px;
	margin-top: 10px;
    box-shadow: 2px 2px 8px #888;
    -moz-box-shadow: 2px 2px 8px #888;
    -webkit-box-shadow: 2px 2px 8px #888;
}

.hikeMap {
    width: 480px;
    height: 600px;
    margin-top: 30px;
    box-shadow: 2px 2px 8px #888;
    -moz-box-shadow: 2px 2px 8px #888;
    -webkit-box-shadow: 2px 2px 8px #888;
}

.mapSurround {
	height: 657px;
	width: 500px;
	float: right;
}

.trailheadMapSurround {
	height: 577px;
	padding-top: 20px;
	position: relative;
	float: right;
	padding-right: 100px;
}

.trailheadMap {
	background-image: url("../images/general/img_complete-trailhead-map-330x583.png");
	background-repeat: no-repeat;
	background-position: top left;
	width: 383px;
	height: 550px;
	position: relative;
	left: 40px;    
    box-shadow: 2px 0 5px #888;
    -moz-box-shadow: 2px 0 5px #888;
    -webkit-box-shadow: 2px 0 5px #888;
}

.trailheadsHtmlWidget {
	padding: 20px;
}

.ui-dialog-titlebar {
	background-color: white;
}

.trailhead {
	width: 38%;
	padding-left: 10px;
	float: left;
}

.hikeList {
	list-style-type: none;
	display: block;
}

.mscTimeline {
	height: 350px; 
	border: 1px solid #aaa;
	width: 100%;
}

#calendarSpinner {
	padding-top: 10px;
	float: right;
	visibility: hidden;
}